@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb( 250, 250, 250 );
  margin: 0;
  font-size: 16px;
}

.root {
  width: 350px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: #fff;
  padding: 30px;
}

.header {
  color: rgb( 40, 40, 50 );
}

.header, .list {
  margin: 0;
}

.header_h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.section:not(:last-child) {
  margin-bottom: 30px;
}

.header, .section, .nav-bar {
  width: 300px;
  hyphens: auto;
  word-break: break-all;
}

.nav-bar__link:not(:first-child) {
  margin-left: 10px;
}

.link {
  text-decoration: none;
  color: #00a1e4;
  border-bottom: 1px solid #00a1e4;
}

.link_active {
  border-bottom: none;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form__input {
  height: 30px;
}

.input {
  font-size: 1.1em;
  border: 2px solid #00a1e4;
  outline: none;  
}

.input[readonly] {
  background-color: rgba(0,161,228,.3);
}

.form__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.input__icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #00a1e4;
}

.button {
  background-color: #00a1e4;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px;
}

.button_no-background {
  background-color: transparent;
  color: rgb( 40, 40, 50 );
  padding: 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list__hero {
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.hero {
  border-bottom: 1px solid #00a1e4;
}

.hero__id {
  padding: 10px;
}

.hero__remove {
  margin-left: auto;
}

.info {
  cursor: pointer;
}