/* ----------------Settings--------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

$colors: (
	dark: #272727,
	white: #fff,
	orange: #e8aa4e,
	gray: #b0b0b0,
);

$weights: (
	slight: 300,
	normal: 400,
	bold: 600,
	bolder: 700
);

.text {
	@each $color-name, $color in $colors {
		&-#{$color-name} {
			color: $color !important;
		}
	}

	@each $weight-name, $weight in $weights {
		&-#{$weight-name} {
			font-weight: $weight !important;
		}
	}	
}

.bgc {
	@each $color-name, $color in $colors {
		&-#{$color-name} {
			background-color: $color;
		}
	}
}

/* ---------------------- Desktop -------------------------- */

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 2.2em !important;
}

input {
	border: 0.5px solid map-get($colors, gray);
	outline: none;
}

label {
	font-size: .7em;
}

.hero-gallery {
	height: 48.4vw;
	min-height: 420px;
}

.header {
	margin-top: 6.67vw;
	margin-bottom: 4vw;
}

.header::after {
	content:'';
	background-image: url("../assets/some.svg");
	background-repeat: no-repeat;
	width: 6.67vw;
	height: 1.2vw;
	min-width: 60px;
	min-height: 15px;
	display: block;
	margin: 1.47vw auto;
}


.heroes {
	list-style-type: none;
	height: 20vw;
	min-height: 210px;
	padding: 0;
}

.hero__miniature {
	object-fit: cover;
	width: 8.47vw;
	height: 8.47vw;
}

.hero__name, .hero__join {
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.join {
	font-size: .7em;
}

.nickname {
	font-size: .8em;
}

.heroes-form > .row {
	margin-top: 2vw;
	&:first-child,
	&:last-child {
		margin-top: 0;
	}
}


.hero-name {
	width: 45%;
}

.hero-face {
	display: none;
}

.hero-face__wrapper {
	border: 0.5px solid map-get($colors, gray);
	width: 100%;
	height: 7.2vw;
	font-size: .6em;
	cursor: pointer;
}

.hero-face__value {
	position: absolute;
	top: 50%;
}

.hero-submit {
	width: 11vw;
	height: 2.67vw;
	min-width: 100px;
	min-height: 25px;
	border: none;
	margin-top: 6vw;
	margin-bottom: 6.67vw;
	font-size: .8em;
	cursor: pointer;
}

.hero-info {
	height: 6.13vw;
	min-height: 65px;
	font-size: .6em;
}


.social-icon {
	border: 2px solid map-get($colors, gray);
	width: 2vw;
	height: 2vw;
	min-height: 25px;
	min-width: 25px;
	border-radius: 50%;
	font-size: 1.2em;
}



.heroes-company, .social-icon {
	&:link, &:visited {
		color: map-get($colors, gray);		
	}
}

.social-icon:not(:first-child) {
	margin-left: 13px;
}

/* ---------------------- Laptop -------------------------- */

@media only screen and (max-width: 1100px) {
	html {
		font-size: 16px;
	}

	.hero__miniature {
		object-fit: cover;
		width: 10vw;
		height: 10vw;
	}

	.slick-dots {
		bottom: -5.5vw;
	}

	.hero-gallery {
		height: 55vw;
	}

	.hero-face__wrapper {
		height: 150px;
	}
}

/* ---------------------- Tablet -------------------------- */

@media only screen and (max-width: 769px) {
	html {
		font-size: 14px;
	}

	.hero__miniature {
		object-fit: cover;
		width: 15vw;
		height: 15vw;
		min-height: 120px;
		min-width: 120px;
	}

	.hero-gallery {
		height: 60vw;
	}

	.slick-dots {
		bottom: -7.5vw;
	}
}

/* ---------------------- Mobile -------------------------- */

@media only screen and (max-width: 512px) {
	html {
		font-size: 18px;
	}

	h1 {
		font-size: 1.2em !important;
	}

	.hero__miniature {
		object-fit: cover;
		width: 190px;
		height: 190px;
	}

	.hero-gallery {
		height: 100% !important;
	}

	.heroes {
		height: inherit;
	}

	.social-icons {
		justify-content: center !important;
		margin-top: 5px !important;
	}

	.info-block {
		flex-direction: column-reverse;
		text-align: center;
		justify-content: space-around!important;
	}

	.hero-face__wrapper {
		height: 100px;
	}
}