body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


@media screen  and ( orientation: landscape ) {
  .progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .progress__header {
    position: absolute;
    left: 0;
    top: 0;
    margin: 25px;
  }

  .header {
    font-weight: normal;
    font-size: 1.7em;
  }

  .progress__canvas {
    width: 30%;
    height: 40%;
  }

  .progress__form {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form__box {
      width: 20vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  }
  
  .form__input {
    width: 55px;
    height: 35px;
    margin: 5px 0;
    padding: 0;
  }

  .input {
    border: 1px solid #000;
    border-radius: 27.5px;
    font-size: 1.5em;
    text-align: center;
    outline: none;
  }

  .input_type_check {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background-color: #4A4A4A;
    border: none;
  }

  .input_type_check:before {
    content: '';
    width: 35px;
    height: 35px;
    margin-top: -17.5px;
    background-color: #D8D8D8;
    z-index: 2;
    display: block;
    border-radius: 17.5px;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .input_type_check:checked {
    background-color: #7ED321;
  }

  .input_type_check:checked:before {
    content: '';
    width: 35px;
    height: 35px;
    margin-top: -17.5px;
    background-color: #fff;
    z-index: 2;
    display: block;
    border-radius: 17.5px;
    position: absolute;
    top: 50%;
    left: 20px;
  }

  .form__label {
    display: block;
    width: 120px;
  }

  .label {
    font-size: 1.5em;
  }

}

@media screen  and ( orientation: portrait ) {
  .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .progress__header {
    position: absolute;
    left: 0;
    top: 0;
    margin: 25px;
  }

  .header {
    font-size: 3em;
    font-weight: normal;
  }

  .progress__canvas {
    width: 40%;
    height: 40%;
  }

  .progress__form {
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form__box {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .form__input {
    width: 95px;
    height: 65px;
    margin: 15px 0;
    padding: 0;
  }

  .input {
    border: 1px solid #000;
    border-radius: 45px;
    font-size: 2.5em;
    text-align: center;
    outline: none;
  }

  .input_type_check {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background-color: #4A4A4A;
    border: none;
  }

  .input_type_check:before {
    content: '';
    width: 65px;
    height: 65px;
    margin-top: -32.5px;
    background-color: #D8D8D8;
    z-index: 2;
    display: block;
    border-radius: 45px;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .input_type_check:checked {
    background-color: #7ED321;
  }

  .input_type_check:checked:before {
    content: '';
    width: 65px;
    height: 65px;
    margin-top: -32.5px;
    background-color: #fff;
    z-index: 2;
    display: block;
    border-radius: 45px;
    position: absolute;
    top: 50%;
    left: 30px;
  }

  .form__label {
    display: block;
    width: 160px;
  }

  .label {
    font-size: 2.5em;
    text-align: left;
  }
}

